@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wraper {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #e5e5e5;
  font-family: 'Teko', sans-serif;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  font-size: larger;
  background: #ffffff3a;
  padding: 5rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 60vh;
}
span {
width: 100rem;
height:100rem;
  background-color: rgb(255, 255, 255);
  padding: 2px 15px;
  margin: 2rem;
  border-radius: 10px;
  font-size: 6rem;
}
.timer {
  height: 30rem;
  width: 30rem;

  margin: 2rem auto;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.start {
  background-color: #2c6e49;
  margin: 2rem;
  height: 2.5rem;
  width: 5rem;
  font-size: large;
  color: #e5e5e5;
  border: none;
  border-radius: 1.1rem;
}
.pause {
  background-color: #f3722c;
  margin: 2rem;
  height: 2.5rem;
  width: 5rem;
  font-size: large;
  color: #e5e5e5;
  border: none;
  border-radius: 1.1rem;
}
.reset {
  background-color: #e63946;
  margin: 2rem;
  height: 2.5rem;
  width: 5rem;
  font-size: large;
  color: #e5e5e5;
  border: none;
  border-radius: 1.51em;
}
